<div>
    <div class="page-title">Films</div>
    <br>
    <ngx-loading-skeleton *ngIf="films.length === 0"></ngx-loading-skeleton>
    <div class="content-card" *ngFor="let film of films">
        <img src="{{film.cover}}" alt="Card image cap">
        <div>
            <h5 class="card-title">{{film.title}}</h5>
            <p>Director: {{film.director}}</p>
            <p>Producer: {{film.producer}}</p>
            <p>Release Date: {{film.release_date}}</p>

            <div class="link" *ngIf="!film.isExpanded" (click)="film.isExpanded = true">Read more</div>
            <div *ngIf="film.isExpanded">
                <div>Actors:</div>
                <div *ngFor="let character of film.characters">
                    <ngx-character [url]="character">
                    </ngx-character>
                </div>
            </div>
        </div>
    </div>