.router{
    // background: green;
    height: 100%;
    width: 100%;
}
.col-3{
    padding-left: 0 !important; 
    padding-right: 0 !important; 
}

.col-9{
    padding-right: 0 !important; 
    padding-left: 0 !important; 
}