<div>
    <div class="page-title">People</div>
    <br>
    <ngx-loading-skeleton *ngIf="people.length === 0"></ngx-loading-skeleton>

    <div class="content-card" *ngFor="let person of people">
        <div class="content-card-row">
            <div>
                <img class="card-img-top" src="{{person.cover}}" alt="Person Avatar">
            </div>
            <div class="description">
                <h5 class="card-title">{{person.name}}</h5>
                <br>
                <p>Birth Year: {{person.birth_year}}</p>
                <p>Height: {{person.height}}</p>
                <p>Gender: {{person.gender}}</p>
                <p>Eye Color: {{person.eye_color}}</p>
                <div class="link" *ngIf="!person.isExpanded" (click)="person.isExpanded = true">Read more</div>
                <div *ngIf="person.isExpanded">
                    <p>Films:</p>
                    <div *ngFor="let film of person.films">
                        <ngx-movie [url]="film">
                        </ngx-movie>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>